<?xml version="1.0"?>
<config>
    <modules>
        <SM_MegaMenu>
            <version>0.1.0</version>
        </SM_MegaMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <megamenu_layout>
                    <file>sm/megamenu.xml</file>
                </megamenu_layout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_MegaMenu after="Mage_Adminhtml">SM_MegaMenu</SM_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <megamenu>
                <class>SM_MegaMenu_Block</class>
            </megamenu>
        </blocks>
        <models>
            <megamenu>
                <class>SM_MegaMenu_Model</class>
                <resourceModel>megamenu_resource</resourceModel>
            </megamenu>
            <megamenu_resource>
                <class>SM_MegaMenu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>sm_menu</table>
                    </menu>
                </entities>
            </megamenu_resource>
        </models>
        <resources>
            <sm_megamenu_setup>
                <setup>
                    <module>SM_MegaMenu</module>
                    <class>SM_MegaMenu_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <helpers>
            <megamenu>
                <class>SM_MegaMenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
</config>