<?xml version="1.0"?>
<config>
    <modules>
        <SM_Slider>
            <version>0.1.0</version>
        </SM_Slider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_slider>
                    <file>sm/slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_slider>
                <class>SM_Slider_Block</class>
            </sm_slider>
        </blocks>
        <helpers>
            <sm_slider>
                <class>SM_Slider_Helper</class>
            </sm_slider>
        </helpers>
        <models>
            <sm_slider>
                <class>SM_Slider_Model</class>
                <resourceModel>sm_slider_resource</resourceModel>
            </sm_slider>
            <sm_slider_resource>
                <class>SM_Slider_Model_Resource</class>
                <entities>
                    <sm_slider>
                        <table>sm_slider</table>
                    </sm_slider>
                    <image>
                        <table>sm_slider_image</table>
                    </image>
                </entities>
            </sm_slider_resource>
        </models>
        <resources>
            <sm_slider_setup>
                <setup>
                    <module>SM_Slider</module>
                    <class>SM_Slider_Model_Resource_Setup</class>
                </setup>
            </sm_slider_setup>
        </resources>
    </global>
    <default>
        <sm_slider>
            <general>
                <enable>1</enable>
                <mode>horizontal</mode>
                <showtext>1</showtext>
            </general>
        </sm_slider>
    </default>
    <admin>
        <routers>
            <sm_slider>
                <use>admin</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>smslider</frontName>
                </args>
            </sm_slider>
            <!-- http://magento.sample/index.php/admin/adminhtml_index/index -->
            <adminhtml>
                <args>
                    <modules>
                        <sm_slider before="Mage_Adminhtml">SM_Slider_Adminhtml</sm_slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_slider>
                    <file>slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </adminhtml>
</config>